@model IEnumerable<MVCTutorial.Models.EmployeeViewModel>
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<div class="container" style="width:60%;margin-top:2%">

    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>DepartmentId</th>
            <th>DepartmentName</th>
            <th>Address</th>
        </tr>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.EmployeeId</td>
                    <td>@item.DepartmentName</td>
                    <td>@item.Address</td>
                    <td>@item.DepartmentId</td>
                    <td>@item.Name</td>
                    
                </tr>
                <tr></tr>
            }
        </tbody>
    </table>
   
</div>

